<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenRank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenRankFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OpenRankSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A81BD0BA1CA22FC0009D0927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A81BD0CE1CA22FC1009D0927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A81BD0D91CA22FC1009D0927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8BCCAB51CABCBD2002C8BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8BCCAC91CABD3D2002C8BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8BCCAD21CABD3D2002C8BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
